.content {
  display: flex;
  justify-content: center;
  align-items: start;
  
  min-height: 100vh; 
  min-width: 100vw;  
  
}

.relations-container {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
 
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.button-row button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #0077ff;
  color: #fff;
  font-weight: 500;
}

.button-row button:hover {
  background: #005fcc;
}
